@model  GIPHoodie.Models.VMWinkelmand

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/idk3wns.css">
    <link href="~/css/site.css" rel="stylesheet" />


    <title>Winkelmand</title>
</head>
<body class="m-3">
    <form asp-action="Winkelmand" asp-controller="Home">
        <h2 class="titel">Online Hoodieshop - Winkelmandje</h2>
        <table class="table">
            <tr>
                <td class="subTitel">KlantNr:</td>
                <td>@Model.klant.KlantID</td>
                <td></td>
            </tr>
            <tr>
                <td class="subTitel">Naam:</td>
                <td>@Model.klant.Naam</td>
                <td></td>
            </tr>
            <tr>
                <td class="subTitel">Adres:</td>
                <td>@Model.klant.Adres</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>@Model.klant.PostCode @Model.klant.Gemeente</td>
                <td></td>
            </tr>
            <tr>
                <td class="subTitel">Besteldatum:</td>
                <td>@DateTime.Now.ToLongDateString()</td>
                <td></td>
            </tr>
        </table>
        <table class="table">
            <tr class="subTitel centreerTekst">

                <td class="colomBreedte">Foto</td>
                <td class="colomBreedte">ArtNr</td>
                <td class="colomBreedte">naam</td>
                <td class="colomBreedte">Aantal</td>
                <td class="colomBreedte">Prijs</td>
                <td class="colomBreedte">Totaal</td>
                <td class="colomBreedte"></td>
            </tr>
        </table>

        @if (ViewBag.Controleer == true)
        {



            @foreach (var mand in Model.winkelRepository.winkelmandItems)
            {
                <table class="table centreerTekst">
                    <tr>
                        <td class="colomBreedte"><img class="kleinefoto" src="@Url.Content("~/images/" + mand.Foto)"></td>
                        <td  class="colomBreedte">@mand.ArtikelNr</td>
                        <td class="colomBreedte">@mand.naam</td>
                        <td class="colomBreedte">@mand.Aantal</td>
                        <td class="colomBreedte">€@mand.Prijs </td>
                        <td class="colomBreedte">€@mand.totaal</td>
                        <td class="colomBreedte"> <a asp-action="verwijderen" asp-route-ArtNr="@mand.ArtikelNr" asp-route-Aantal="@mand.Aantal" asp-controller="Home"> <img class="vuilbak VuilOpschuiven" src="@Url.Content("~/images/vuilbak.png")" /> </a></td>






                    </tr>
                </table>
            }



            <table class="table">
                <tr>
                    <td class="subTitel"> Totaal exclu</td>
                    <td>€@Model.totaal.TotaalExcl</td>
                </tr>
                <tr>
                    <td class="subTitel"> BTW (21%)</td>
                    <td>€@Model.totaal.BTW</td>
                </tr>
                <tr>
                    <td class="subTitel">Totaal inclu </td>
                    <td>€@Model.totaal.TotaalIncl</td>
                </tr>

            </table>

        }
        else
        {
            <p class="centreerTekst">Je mand is leeg.</p>
        }

        @if (ViewBag.Controleer == true)
        {
            <p><input type="submit" value="Inhoud van het winkelmandje bestellen" /></p>

        }
        else
        {
            <p><input type="submit" disabled="disabled" value="Inhoud van het winkelmandje bestellen" /></p>

        }

        <p class="centreerTekst subTitel"><a asp-action="Index">Terug naar de catalogus</a></p>
    </form>
</body>
</html>
